/* ===================================================
  // .        :  :::::::..    :::  .   ::::::.    :::.::: :::  .      ...     
  // ;;,.    ;;; ;;;;``;;;;   ;;; .;;,.;;;`;;;;,  `;;;;;; ;;; .;;,..;;;;;;;.  
  // [[[[, ,[[[[, [[[,/[[['   [[[[[/'  [[[  [[[[[. '[[[[[ [[[[[/' ,[[     \[[,
  // $$$$$$$$"$$$ $$$$$$c    _$$$$,    $$$  $$$ "Y$c$$$$$_$$$$,   $$$,     $$$
  // 888 Y88" 888o888b "88bo,"888"88o, 888  888    Y88888"888"88o,"888,_ _,88P
  // MMM  M'  "MMMMMMM   "W"  MMM "MMP"MMM  MMM     YMMMM MMM "MMP" "YMMMMMP" 
  =================================================== */

* {
  font-family: 'Hack Nerd Font', monospace;
  font-size: 20px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 10px solid #db0b3f;
  border-radius: 8px;
  background-color: rgba(70, 4, 20, 1);
}

/* Outer Box con imagen lateral */
#outer-box {
  margin: 0;
  padding: 0 0 0 350px; /* espacio para la imagen */
  border: 5px;
  background-color: rgba(70, 4, 20, 1);
  background-image: url("RUTA_A_LA_IMAGEN_QUE_DESEAS");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: 5px center;
}

/* Inner Box (lista de programas) */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: rgba(70, 4, 20, 1);
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: rgba(70, 4, 20, 1);
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: #db0b3f;
  background-color: rgba(70, 4, 20, 1);
}

#input image {
    border: none;
    color: #db0b3f;
}

#input * {
  outline: 4px solid #db0b3f!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #db0b3f;
}

#entry {
  background-color: rgba(70, 4, 20, 1);
}

#entry arrow {
  border: none;
  color: #db0b3f;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #db0b3f;
}

#entry:selected #text {
  color: #db0b3f;
}

#entry:drop(active) {
  background-color: #db0b3f !important;
}
