/* ===================================================
  // .        :  :::::::..    :::  .   ::::::.    :::.::: :::  .      ...     
  // ;;,.    ;;; ;;;;``;;;;   ;;; .;;,.;;;`;;;;,  `;;;;;; ;;; .;;,..;;;;;;;.  
  // [[[[, ,[[[[, [[[,/[[['   [[[[[/'  [[[  [[[[[. '[[[[[ [[[[[/' ,[[     \[[,
  // $$$$$$$$"$$$ $$$$$$c    _$$$$,    $$$  $$$ "Y$c$$$$$_$$$$,   $$$,     $$$
  // 888 Y88" 888o888b "88bo,"888"88o, 888  888    Y88888"888"88o,"888,_ _,88P
  // MMM  M'  "MMMMMMM   "W"  MMM "MMP"MMM  MMM     YMMMM MMM "MMP" "YMMMMMP" 
  =================================================== */

* {
  font-family: 'Hack Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 10px solid #d9db0b;
  border-radius: 15px;
  background-color: rgba(210, 210, 20, 0.4);
}

/* Outer Box con imagen lateral */
#outer-box {
  margin: 5px;
  padding: 0 0 0 350px; /* espacio para la imagen */
  border: 5px solid #d9db0b;
  border-radius: 15px;
  background-color: rgba(210, 210, 20, 0.4);
  background-image: url("/home/kino/dev/config/dotfiles/wofi/logos/logo-amarillo.png");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: 5px center;
}

/* Inner Box (lista de programas) */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: rgba(210, 210, 20, 0);
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: rgba(210, 210, 20, 0);
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: 1px solid #d9db0b;
  border-radius: 15px;
  color: #d9db0b;
  background-color: rgba(210, 210, 20, 0);
}

#input image {
    border: none;
    color: #d9db0b;
}

#input * {
  outline: 4px solid #d9db0b!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #000000;
}

#entry {
  background-color: rgba(210, 210, 20, 0);
}

#entry arrow {
  border: none;
  color: #d9db0b;
  border-radius: 15px;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #d9db0b;
  border-radius: 15px;
  background-color: rgba(210, 210, 20, 0.5)
}

#entry:selected #text {
  color: #000000;
}

#entry:drop(active) {
  background-color: #d9db0b !important;
}
